.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-gray-800);
  border-radius: 16px;
  margin: 1rem;
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.1);
}

.heroBanner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: inherit;
  background: linear-gradient(131.79deg, rgba(255, 215, 0, 0.2) -0.71%, rgba(255, 215, 0, 0) 34.69%);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.text-info {
  flex: 1;
  text-align: left;
}

.heroImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage img {
  max-width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-gray-900);
  border-radius: 8px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button:hover {
  background-color: var(--ifm-color-primary-dark);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.3);
  text-decoration: none;
}

.announcementBar {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-gray-900);
  padding: 0.2rem;
  text-align: center;
  font-weight: bold;
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.getStarted {
  text-align: center;
  padding: 4rem 0;
  background-color: var(--ifm-color-gray-800);
  border-radius: 16px;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.getStarted::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(131.79deg, rgba(255, 215, 0, 0.1) -0.71%, rgba(255, 215, 0, 0) 34.69%);
}

.getStarted h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.getStarted p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 966px) {
  .container {
    flex-direction: column;
  }

  .text-info {
    text-align: center;
    margin-bottom: 2rem;
  }

  .buttons {
    justify-content: center;
  }

  .heroImage {
    margin-top: 2rem;
  }
}